@import './reset.scss';
@import './normalize.scss';


$ratio:375 / 10;

@function px2rem($px) {
    @return $px/$ratio+rem;
}

$fontSize: 24px;

@mixin color {
    font-style: italic
}

.mescroll-totop {
    border-radius: 0 !important;
}

textarea::-webkit-input-placeholder {
    color: hsla(40, 33%, 60%, 0.5);
  }
  textarea:-webkit-input-placeholder {
    color: hsla(40, 33%, 60%, 0.5);
  }
  textarea::-moz-input-placeholder {
    color: hsla(40, 33%, 60%, 0.5);
  }
  textarea:-webkit-input-placeholder {
    color: hsla(40, 33%, 60%, 0.5);
  }
  textarea:-ms-input-placeholder {
    color: hsla(40, 33%, 60%, 0.5);
  }